<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Demo Books App</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/books_style.css' %}">
	</head>
	<body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
		<div class="site-wrap">
			<header class="site-navbar py-3" role="banner">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-6 col-xl-4 aos-init aos-animate" data-aos="fade-down">
						<h1 class="mb-0"><a href="books/" class="text-white h2 mb-0">Demo Books App</a></h1>
					</div>
				</div>
			</div>
			</header>
			<div class="container-fluid aos-init aos-animate" data-aos="fade" data-aos-delay="500">
				<div class="row">
					{% for book in books %}
						<div class="col-lg-4">
							<div class="image-wrap-2">
								<div class="image-info">
									<h2 class="mb-3">{{ book.name }}</h2>
									<a href="#" class="btn btn-outline-white py-2 px-4">
                                        {{ book.publisher.name }}
                                    </a>
								</div>
								<img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid">
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>